
    ul.floating-social {
        list-style: none;
        position: fixed;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        padding: 0;
        z-index: 100;

        @media only screen and (max-width: 760px) {
            display: none;
        }

        li {
            a {
                display: block;
                margin-left: -2px;
                height: 60px;
                width: 60px;
                border-radius: 0 25px 25px 0;
                border: 2px solid #e7e9ed;
                background: transparent;
                margin-bottom: 1em;
                transition: all 0.4s ease;
                color: #aec6cf;
                text-decoration: none;
                line-height: 60px;
                position: relative;
                // box-shadow: 1px 1px 1px lightgray;

                &:hover {
                    cursor: pointer;
                    width: 180px;
                    color: #fff;

                    span {
                        left: 0;
                    }
                }

                span {
                    padding: 0 30px 0 15px;
                    position: absolute;
                    left: -120px;
                    transition: left 0.4s ease;
                }

                i {
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    transform: translateY(-50%);
                    font-size: 1.5em;
                }
            }

            .spotify {
                background: rgba(#27ae60, .1);
                border-color: #27ae60;
                color: #27ae60;

                &:hover {
                    background: rgba(#27ae60, 1);
                }
            }

            .soundcloud {
                background: rgba(#e67e22, .1);
                border-color: #e67e22;
                color: #e67e22;

                &:hover {
                    background: rgba(#e67e22, 1);
                }
            }

            .skype {
                background: rgba(#22A7F0, .1);
                border-color: #22A7F0;
                color: #22A7F0;

                &:hover {
                    background: rgba(#22A7F0, 1);
                }
            }

            .dribbble {
                background: rgba(#D2527F, .1);
                border-color: #D2527F;
                color: #D2527F;

                &:hover {
                    background: rgba(#D2527F, 1);
                }
            }
        }
    }
